/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #89c541;
}

h1 {
    color: white;
    margin-left: 45px;
    font-family: Tahoma, Geneva, sans-serif;
}

button {
    /* color: white; */
    border: #751818;
    background-color: #cddc39;
    width: 200px;
    height: 40px;
    border-radius: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    padding: 0;
    border: none
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: a;
}

p {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    margin-top: -5px;
}

.top {
    position: absolute;
    right: 12px;
    top: 10px;
}

.content {
    position: relative;
    text-align: center;
}

.icon {
    height: 30px;
}

.invert {
    filter: invert(1);
}

.logo {
    margin: 20px 0;
    display: block;
    overflow: hidden;
}

.line-break-container {
    padding: 0;
    margin: 20px auto;
    width: 800px;
}

.force-select-all {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

pre {
    width: auto;
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    overflow: hidden;
    white-space: pre;
    text-align: left;
    border: none;
    background: #ccc;
    border-radius: 0;
    margin: 20px 0;
}

pre code {
    font-weight: normal;
    font-style: normal;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.description {
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    font-size: 20px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 24px;
    ;
}

.description p {
    font: inherit;
    line-height: inherit;
}